@{
    ViewData["Title"] = "Home Page";
}

<div style="height:400px;width:1200px;background-color:#e6ffed;padding-left: 10px; padding-top: 3px;">
    <h2>  
        Hey,I am a DotNet Webapp! 
    </h2>
</div>
